@media (max-width: 576px) {
  /************Grid-row-1: banner + name************/
  #banner {
    height: 90vh;
  }
  #banner-img {
    height: 90vh;
    background-position-x: 50%;
  }
  /************Grid-row-2: navbar************/
  .ava {
    display: none;
  }
  .col-sm-3 {
    text-align: left;
  }
  #nav-bar {
    margin-left: 30px;
  }

  /************Grid-row-3: about************/
  .d-flex > .p {
    width: 100%;
  }

  /************Grid-row-4************/
  #job-info {
    column-count: 1;
    column-gap: 10px;
  }
  /************Grid-row-5************/
  #certificate > .row {
    column-count: 1;
  }
  .cert-info {
    max-width: 100%;
  }
  /************Grid-row-6************/
  .all-project {
    column-count: 1;
  }
  /************Grid-row-7************/
  .social-link > li > a {
    font-size: 0;
  }
}
